<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="css/styles.css">
<link rel="icon" type="image/ico" href="favicon.ico">
<head>
    <meta charset="UTF-8">
    <title>Task Planner</title>
</head>
<body>
    <img class="background-image" src="images/SkyBackground.jpeg">
    <div th:replace="fragments.html :: header"></div>
    <div class="content overflow-bar">
        <div class="app-title background-padded title-container">
                <img draggable="false" class="task-title-image shadowed no-selectable" src="images/TaskLogo.png"/>
                <span class="shadowed title">Task Planner</span>
                <div sec:authorize="isAuthenticated()" style="display: flex;">
                    <button onclick="location.href = '/logout';" class="authenticate-button">Cerrar Sesión</button>
                </div>
        </div>
        <div class="background-padded">
            <h2>What is Task Planner?</h2>
            <p class="pre-wrap">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus imperdiet, ante id imperdiet imperdiet, ipsum purus rhoncus urna, eu vulputate eros velit ut sapien.

Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque congue tincidunt massa vel hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae.
                
Duis gravida quam sed nibh auctor, sit amet ullamcorper ex sagittis. Cras nec rutrum risus, a commodo mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                
Suspendisse et velit cursus, feugiat libero et, varius arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra.
                
Suspendisse auctor malesuada velit, quis tempor neque rutrum eu.
            </p>
        </div>
    </div>
</body>
</html>